img.fbb-title {
    width: 100px;
    height: 100px;
}

/* This is to make the nav social vertically align with the copyright*/
footer {
    line-height: 32px;
}

p#foot {
    display: inline;
    vertical-align: middle;
}

nav#social {
    float: right;
    font-size: 32px;
    display: inline;
}

/*This is to make the nav vertically align in the middle*/
div#anchor {
    line-height: 100px;
}

nav#left-nav {
    float:right;
    display: inline;
    vertical-align: middle;
}

div#center {
    text-align: center;
    background-color: #F6F6F6;
}

a#contact-link {
    font-size: 14px;
}

a#main-home-link {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 44px;
    vertical-align: middle;
}

p.no-bottom-margin {
    margin-bottom: 0px;
}

.vert-center {
    vertical-align: middle;
}

div.img-inline {
   display: inline-block;
   width: 30%;
}

div#homepage-overlay {
    text-align: center;
    position: relative;
    bottom: 900px;
}

div#meettheboys {
    padding-top: 40px;
}

div.small-box {
    width: 355px;
    height: 305px;
    float: left;
    display: inline;
    overflow: auto;
    border-style: solid;
    border-width: 2px;
    margin-left: 150px;
    background-color: white;
}

p.inline-right {
    float:right;
    display:inline;
}

.top { 
    position: fixed; 
    top: 0;
    height: 100px; 
    width: 100%;
    background: white;
    z-index: 1;
}

.push {
    margin-bottom: 100px;
    z-index: 1;
}

.no-hover-underline:hover {
    text-decoration: none;
}

#media_body {
    background-color: #F6F6F6;
    min-height: 100vh;
    font: normal 16px sans-serif;
    
}

.container.gallery-container {
    background-color: #F6F6F6;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}
