img.fbb-title {
    width: 100px;
    height: 100px;
}

/* This is to make the nav social vertically align with the copyright*/
footer {
    line-height: 32px;
}

p#foot {
    display: inline;
    vertical-align: middle;
}

nav#social {
    float: right;
    font-size: 32px;
    display: inline;
}

/*This is to make the nav vertically align in the middle*/
div#anchor {
    line-height: 100px;
}

nav#left-nav {
    float:right;
    display: inline;
    vertical-align: middle;
}

div#center {
    text-align: center;
    background-color: #F6F6F6;
}

a#contact-link {
    font-size: 14px;
}

a#main-home-link {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 44px;
    vertical-align: middle;
}

p.no-bottom-margin {
    margin-bottom: 0px;
}

.vert-center {
    vertical-align: middle;
}

div.img-inline {
   display: inline-block;
   width: 30%;
}

div#homepage-overlay {
    text-align: center;
    position: relative;
    bottom: 900px;
}

div#meettheboys {
    padding-top: 40px;
    padding-bottom: 5px;
}

div.small-box {
    width: 350px;
    height: 300px;
    float: left;
    display: inline;
    overflow: auto;
    border-style: solid;
    border-width: 2px;
    margin-left: 150px;
}

p.inline-right {
    float:right;
    display:inline;
}

.top { 
    position: fixed; 
    top: 0;
    height: 100px; 
    width: 100%;
    background: white;
    z-index: 1;
}

.push {
    margin-bottom: 100px;
    z-index: 1;
}

.no-hover-underline:hover {
    text-decoration: none;
}

#media_body {
    background-color: #F6F6F6;
    min-height: 100vh;
    font: normal 16px sans-serif;
    
}

.container.gallery-container {
    background-color: #F6F6F6;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}


.MTBcontainer {
  display: inline-block;
  position: relative;
  width: 18%;
}

.MTBimage {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.MTBcontainer:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

div.bio {
    padding: 10px;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}
